MYSQL_HOST=mysql_project_name
MYSQL_ROOT_PASSWORD=db_root_password
MYSQL_DATABASE=db_name
MYSQL_USER=db_user_name
MYSQL_PASSWORD=db_user_password

MYSQL_INTEGRATION_ROOT_PASSWORD=magento
MYSQL_INTEGRATION_DATABASE=magento_integration_tests
MYSQL_INTEGRATION_USER=magento
MYSQL_INTEGRATION_PASSWORD=magento
MYSQL_INTEGRATION_HOST=db
